
.link {
  color: blue!important;
  font-weight: bolder;

}
.mr-auto {
 
}
.space{
    padding-bottom: 7%;

}

.navbar-brand img {
  width: 185px;
  height: auto;
}

.navbar{
  background-color: white!important;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.5)!important;
}



@media only screen and (max-width: 600px) {
    .space {
      padding-bottom: 30%;
    }
  }
  /* @media only screen and (min-width: 760px) {
    .space {
      padding-bottom: 30%;
    }
  } */

 