<app-navbar (searchData)="eventClicked($event)"></app-navbar>
<div class="container">
    <div class="alert alert-info alert-dismissible fade show" role="alert">
        <strong>Support Local Business!</strong> During these hard times we must help and support our local food businesses as much as we can! 
        Here you will find a list of <strong class='green'>OPEN</strong> restaurants and food businesses in our local community.  <strong>Every order helps a business stay open another day!</strong>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      
    <app-slider (foodType)="eventClicked($event)"></app-slider>
   
    <app-cards [restaurants]="type"></app-cards>
</div>