<div class="swiper-container">
        <!-- Additional required wrapper -->
        <div class="swiper-wrapper item" >
            <!-- Slides -->
            <div class="swiper-slide"><img src="../../assets/cuisines/all.jpg" alt="all" (click)="filter('.*')" > <span class="caption">all</span></div>
            <div class="swiper-slide"><img src="../../assets/cuisines/american.jpg" alt="american" (click)="filter('American')" > <span class="caption">american</span></div>
            
            <div class="swiper-slide"><img src="../../assets/cuisines/asian.jpg" alt="" (click)="filter('Asian')" > <span class="caption">asian</span> </div>
            <div class="swiper-slide"><img src="../../assets/cuisines/bakery.jpg" alt="" (click)="filter('Bakery')" ><span class="caption">bakery</span> </div>
            <div class="swiper-slide"><img src="../../assets/cuisines/coffee.jpg" alt="" (click)="filter('Cafe')" ><span class="caption">cafe</span> </div>
            <div class="swiper-slide"><img src="../../assets/cuisines/deli.jpg" alt="" (click)="filter('Deli')" > <span class="caption">deli</span></div>
            <div class="swiper-slide"><img src="../../assets/cuisines/ice-cream.jpg" alt="" (click)="filter('Desserts')" ><span class="caption">desserts</span> </div>
            <div class="swiper-slide"><img src="../../assets/cuisines/diner.jpg" alt="" (click)="filter('Diner')" ><span class="caption">diner</span> </div>
            <div class="swiper-slide"><img src="../../assets/cuisines/european.jpg" alt="" (click)="filter('European')" ><span class="caption">european</span> </div>
            <div class="swiper-slide"><img src="../../assets/cuisines/fastfood.jpg" alt="" (click)="filter('Fast Food')" > <span class="caption">fast food</span> </div>
            <div class="swiper-slide"><img src="../../assets/cuisines/italian.jpg" alt="" (click)="filter('Italian')" ><span class="caption">italian</span> </div>
            <div class="swiper-slide"><img src="../../assets/cuisines/latin.jpg" alt="" (click)="filter('Latin')"><span class="caption">latin</span></div>
            <div class="swiper-slide"><img src="../../assets/cuisines/mediterranean.jpg" alt="" (click)="filter('Mediterranean')"><span class="caption">med</span></div>
            <div class="swiper-slide"><img src="../../assets/cuisines/markets.jpg" alt="" (click)="filter('Market')"><span class="caption">markets</span></div>
            <div class="swiper-slide"><img src="../../assets/cuisines/mexican.jpg" alt="" (click)="filter('Mexican')"><span class="caption">mexican</span></div>
        </div>
            <!-- Add Pagination -->
            
            <!-- Add Arrows -->
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
            
    </div>
    