.swiper-container {
    margin-bottom: 10%;
    width: auto;
    height: auto;
       /* this is the only relevant part: */
       /* border-radius: 10%/50%; */
    text-align: center;
}
.swiper-pagination {
 
    
}
.swiper-button-next {
    transform: translate(10px, -10px);
    
}
.swiper-button-prev {
    transform: translate(-10px, -10px);
}


img {
    border-radius: 50%;
    width: 75px;
    height: auto;
    transition: 0.3s ease-in;
    filter: grayscale(100%);
    filter: brightness(80%)
    
}

img:hover {
    filter: brightness(110%);
    transition: 0.3s ease-out;
}

.caption {
    display: block;
}

@media only screen and (min-width: 700px) {
    .swiper-container {
        margin-top : 1rem;
        
    }
    .swiper-pagination {
    
    }
}
@media only screen and (max-width: 700px) {
    img {
        width: 75px;
        height: auto;
    }
  
}

